body{
    background: url("./img/image-17.png") no-repeat ;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    line-height: 2em;
}